@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "MyCustomFont"; /* You pick this name */
  src: url("/Swansea-q3pd.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
